#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background-image:url('https://png.pngtree.com/png-clipart/20190517/original/pngtree-abstract-colorful-light-background-png-image_3637854.jpg') ;
    color: white;
}


h3{
    color:white;
}

h1{
    color: white;
}
